* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 1rem;
    background: linear-gradient(160deg, green 47%, white 48%);
}

.photoContainer img {
    width: 100%;
}

.nameContainer {
    position: absolute;
}

.nameContainer h1 {
    color: white;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.socials {
    display: flex;
    gap: 0.6rem;
}

.socials a {
    padding: 0.5rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.projectsContainer {
  display: grid;
  gap: 16px;
}

.project {
    background-color: beige;
}

.project img {
    width: 100%;
}

.details {
    padding: 1rem;
}

.nameAndLinks {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: space-between;
}

footer {
    padding: 1rem;
    background: blue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}