* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: sans-serif;
}

img {
    width: 100%;
    display: block;
}

/* HEADER */

.header {
    position: relative;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.shape {
    position: absolute;
    inset: 0;
    z-index: -1;
    filter: drop-shadow(2px 4px 6px black);
}

.shape::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 35%;
    background: linear-gradient(180deg, #7E1F1F, #3A0D0D);
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
}

.aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.photo {
    position: relative;
}

.photo figcaption {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    color: cornsilk;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
}

.story {
    text-align: center;
}

.story p {
    margin: 1rem;
}

.links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* MAIN */

.main {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 1rem;
}

.project {
    max-width: 350px;
    border: 2px solid black;
    padding: 0.5rem;
}

.project-details {
    padding: 0.5rem;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.project-links {
    display: flex;
    gap: 0.5rem;
}

.project-links img {
    width: 1.5rem;
    height: 1.5rem;
}

.project-description {
    text-align: center;
}

/* === FOOTER === */

.footer {
    background: linear-gradient(0deg, #D8A48F, #F2C7B2);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

.footerLinks {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.footerLinks img {
    width: 2.25rem;
}

.footer-image img {
    width: 100%;
    display: block;
    margin-top: 1rem;
}

@media (min-width: 600px) {
    .shape::before {
        height: 50%;
    }

    .aboutSection {
        display: block;
        margin-top: 4rem;
        margin-left: 2rem;
        margin-right: 2rem;
        background: white;
        max-width: 600px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    }

    .photo {
        float: left;
        margin-left: -2rem;
        margin-top: -3rem;
        margin-right: 1rem;
    }

    .photo figcaption {
        left: 15rem;
    }

    .story {
        padding: 1rem;
        display: block;
        text-align: left;
    }

    .story h2 {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }


    .footer {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
}

@media (min-width: 846px) {
    .aboutSection {
        display: flex;
        flex-direction: row;
        margin: 2rem;
        max-width: 1900px;
        box-shadow: none;
        background: none;
        gap:unset;
    }

    .photo {
        float: none;
        margin: 0;
    }

    .photo img {
        width: 300px;
    }

    .photo figcaption {
        left: 0.5rem;
    }

    .story {
        background: white;
        padding: 1rem;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    }

    .footer {
        justify-content: space-around;
    }
}